p{
  font-family: 'Lato', sans-serif;
}
a{
  color: white;
}
a:hover{
  color: #86c232;
}
h4{
  font-family: 'Playfair Display', serif !important;
}
h5{
  font-family: 'Playfair Display', serif !important;
}
h6{
  font-family: 'Playfair Display', serif !important;
}
footer{
  background-color: #222629;
  text-align: center;
  color: #DDDDDD;
}

#main{
  background-color: white;
}
.container-fluid{
  padding: 0;
}
.row {
  padding-right: 0;
  margin-right: 0;
}
/* about me content */
.myName{
  display: inline;
  color: #86c232;
}

/* navbar */
.navbar{
  font-family: 'Playfair Display', serif !important;
  background-color: #222629;
  border-bottom: 1px solid #6b6e70;
  padding-left: 5%;
  padding-right: 5%;
}
.navbar-brand{
  font-size: 2rem;
  color: #86c232;
}
.navbar-brand:hover{
  color: white;
}

/* Jumbotron content */
.jumbotron{
  background-color: #222629;
  color:white;
  margin-bottom: 0;
}
.title-container{
  padding-left: 6%;
  padding-right: 6%;
  align-items: center;
}
.jumbo-header{
  font-family: 'Playfair Display', serif !important;
}

.jumbo-image{
  width: 100%;
  height: auto;
  border-radius: 5px;
}


/* article content */
.all-body{
  background-color: #222629;
  padding-bottom: 1%;
}
.outer-container{
  background-color: #2c3134;
  color: #DDDDDD;
  border-radius: 5px;
  margin: auto 5%;
  padding: 1.5%;
}


/* footer */
.foot{
  padding: 1.3rem 0;
  border-top: 1px solid #61892f;
  text-align: center;

}
