p{
  font-family: 'Lato', sans-serif;
}
a{
  color: #09091d;
}
a:hover{
  color: #394867;
}
h4{
  font-family: 'Playfair Display', serif !important;
}
h5{
  font-family: 'Playfair Display', serif !important;
}
h6{
  font-family: 'Playfair Display', serif !important;
}
pre {
  color: #09091d;
  border: 1px solid #394867;
  border-radius: 5px;
}
footer{
  background-color: #f5f5f5;
  text-align: center;
  color: #09091d;
}

.container-fluid{
  padding: 0;
}
.row {
  padding-right: 0;
  margin-right: 0;
}
/* about me content */
.myName{
  display: inline;
  color: #e4e4f7;
}

/* navbar */
.navbar{
  font-family: 'Playfair Display', serif !important;
  background-color: #09091d;
  border-bottom: 1px solid #394867;
  padding-left: 5%;
  padding-right: 5%;
}
.navbar-brand{
  font-size: 2rem;
  color: #e4e4f7;
}
.navbar a {
  color: #e4e4f7;
}
.navbar a:hover {
  color: #394867;
}
.navbar-brand:hover{
  color: #394867;
}

/* Jumbotron content */
 .jumbotron{
  background-color: #09091d;
  color: #f5f5f5;
  margin-bottom: 0;
  border-bottom: 3px solid #394867;
}
.title-container{
  padding-left: 6%;
  font-family: 'Playfair Display', serif !important;
  padding-right: 6%;
}
.jumbo-image{
  max-width: 350px;
  height: auto;
  border-radius: 5px;
}
.linkedin-Image{
  max-width: 40px;
  height: auto;
}
/* article content */
.all-body{
  background-color: #f5f5f5;
  padding-top: 3%;
  padding-bottom: 3%;
}
.mb-5{
  margin-bottom: 0!important;
}
.outer-container{
  color: #09091d;
  border-radius: 5px;
  margin: auto 5%;
  padding: 1.5%;

}
.article-image{
  border: 2px solid #394867;
  border-radius: 5px;
  max-width: 100%;
  max-height: 500px;
}
.make-smaller-image{
  max-width: 675px;
  height:auto;
}
.indent-half{
  margin-left: 1.5%;
}
.indent {
  margin-left: 3%;
}
.indent-2 {
  margin-left: 6%;
}
/* mobile view */
@media(max-width: 700px){
    .jumbo-image{
      width: 250px;
      height: auto;
    }
    pre {
      font-size: .8rem;
    }
    p{
      font-size: .9rem;
    }
}
/* footer */
.foot{
  padding: 1.3rem 0;
  border-top: 1px solid #09091d;
  text-align: center;

}
